*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

html:focus-within {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
}

ul[role=list],
ol[role=list] {
  list-style: none;
}

a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

img,
picture {
  max-width: 100%;
  display: block;
}

button {
  border: none;
}

.sr-only {
  clip: rect(1px, 1px, 1px, 1px);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  height: 1px;
  width: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
}

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
body {
  font: 0.75rem "Kumbh Sans", sans-serif;
  background: linear-gradient(hsl(273, 75%, 66%), hsl(240, 73%, 65%));
  padding: 2rem min(-2.25rem + 16vw, 1.5rem);
}
@media only screen and (min-width: 65em) {
  body {
    display: grid;
  }
}

.card {
  margin-top: 7rem;
  margin-inline: auto;
  max-width: 28.125rem;
  background: white;
  border-radius: 20px;
}
@media only screen and (min-width: 65em) {
  .card {
    position: relative;
    margin: auto;
    max-width: 57.6rem;
    display: grid;
    grid-template-columns: 50% 50%;
  }
}
.card__image-wrapper {
  position: relative;
  background: url("../assets/bg-pattern-mobile.svg") top center no-repeat;
  height: 7rem;
}
@media only screen and (min-width: 65em) {
  .card__image-wrapper {
    background: url("../assets/bg-pattern-desktop.svg") -36.4rem -18.4rem no-repeat;
    height: auto;
    overflow: hidden;
  }
}
.card__image-wrapper__main-img {
  position: absolute;
  width: 15rem;
  left: 0;
  right: 0;
  margin-inline: auto;
  transform: translateY(-60%);
}
@media only screen and (min-width: 65em) {
  .card__image-wrapper__main-img {
    position: relative;
    width: auto;
    right: unset;
    transform: unset;
    left: -17%;
    top: 17%;
    margin-block: auto;
  }
}
.card__image-wrapper__box-img {
  position: absolute;
  z-index: 1;
  max-height: 4rem;
  top: 0;
  bottom: 0;
  left: -10%;
  margin-block: auto;
}
.card__text {
  padding: 1.5rem;
}
@media only screen and (min-width: 65em) {
  .card__text {
    padding-right: 6.25rem;
    margin-block: 2.2rem;
  }
}
.card__text__title {
  font-size: 2rem;
  font-weight: 700;
  color: hsl(238, 29%, 16%);
  text-align: center;
}
@media only screen and (min-width: 65em) {
  .card__text__title {
    text-align: left;
  }
}
.card__text__faqs {
  margin-top: 2.5rem;
}
.card__text__faqs__question {
  position: relative;
  margin-top: 1rem;
  padding-right: 1rem;
  font-size: 0.85rem;
  color: hsl(238, 29%, 16%);
  list-style: none;
}
.card__text__faqs__question:hover {
  color: hsl(14, 88%, 65%);
}
[open] .card__text__faqs__question {
  font-weight: 700;
}
.card__text__faqs__question::after {
  content: url("../assets/icon-arrow-down.svg");
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  margin-block: auto;
  max-height: 1rem;
  transform: translateY(-10%);
}
[open] .card__text__faqs__question::after {
  transform: rotate(0.5turn);
}
.card__text__faqs__answer {
  margin-top: 0.75rem;
  font-size: 0.78rem;
  line-height: 1.3;
  color: hsl(237, 12%, 33%);
}
.card__text__faqs hr {
  margin-block: 1rem;
  border: none;
  height: 1px;
  background-color: hsl(240, 5%, 91%);
}
.card__text__faqs hr:last-child {
  margin-bottom: 1.5rem;
}/*# sourceMappingURL=main.css.map */