@use "resets";
@use "colors";
@use "gradients";
@use "mixins" as *;

body {
  font: 0.75rem "Kumbh Sans", sans-serif;
  background: linear-gradient(gradients.$violet);
  padding: 2rem 1.5rem;
}

.card {
  margin-top: 7rem;
  background: white;
  border-radius: 20px;

  &__image-wrapper {
    position: relative;
    background: url("../assets/bg-pattern-mobile.svg") top center no-repeat;
    height: 7rem;

    &__main-img {
      position: absolute;
      width: 15rem;
      left: 0;
      right: 0;
      margin-inline: auto;
      transform: translateY(-60%);
    }
  }

  &__text {
    padding: 1.5rem;

    &__title {
      font-size: 2rem;
      font-weight: 700;
      color: colors.$dark-blue;
      text-align: center;
    }

    &__faqs {
      margin-top: 2rem;

      &__question {
        margin-bottom: 0.5rem;
        font-size: 0.8rem;
        color: colors.$dark-blue;
        list-style: none;

        [open] & {
          font-weight: 700;
        }

        &:hover {
          color: colors.$red;
        }
      }

      &__answer {
        position: relative;

        &::after {
          content: url("../assets/icon-arrow-down.svg");
          position: absolute;
          right: 0;
          top: 0;

          details[open] & {
            right: 20;
            transform: rotate(180deg);
          }
        }
      }

      & hr {
        margin-block: 1rem;
        border: none;
        height: 1px;
        background-color: colors.$grey;
      }
    }
  }
}
